html,
body {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg, #ff9a9e, #1e6472, #ff9a9e, #6d218f);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

#root {
	width: 100%;
	display: flex;
	justify-content: center;
}

#main-wrapper {
	width: 50%;
	margin: 1em 0;
	padding: 0 1em 1em;
	background: rgba(221, 221, 221, 0.6);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	h4 {
		padding: 1em 0.5em;
		font-family: system-ui;
	}
}

.table-wrapper {
	border-radius: 8px;
	outline: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
